<nav class="navbar navbar-expand-lg bg-info text-white mb-4">
    <div class="container-md ">
        <a class="navbar-brand" [routerLink]="'/'">
            <i class="bi bi-house-door-fill"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-home">
                <i class="navbar-toggler-icon">Employee Management</i>
                Employee Management
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="'/'" aria-current="page" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/about'"></a>
                </li>
            </ul>
            <span class="navbar-text">
                <i class="bi bi-person-fill"></i>
                Admin
            </span>
        </div>
    </div>
</nav>
