<!-- <h5><b>Employees List</b></h5> -->
<div class="table-wrapper">
    <div class="shadow p-3 rounded-bottom">
    <div class="table-title d-flex justify-content-between w-100">
        <h5><b>Manage Employees</b></h5>
        <button class="btn btn-success" (click)="addModal()">
            <i class="bi bi-plus-circle shadow w-100">
                <span> Add Employee</span>
            </i>
        </button>
    </div>
    <br>

    <table class="table table-bordered ">
        <thead class="bg-info">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                
                <td>{{student.first}}</td>
                <td>{{student.last}}</td>
                <td>{{student.email}}</td>
                <td>{{student.address}}</td>
                <td>{{student.phone}}</td>
                <td>
                    <button [routerLink]="'/student/' + student._id" type="button"
                        class="btn btn-primary btn-sm me-2"><i class="bi bi-eye"></i></button>
                    <button (click)="editModal(student, student._id)" type="button" class="btn btn-secondary btn-sm me-2"><i
                            class="bi bi-pencil"></i></button>
                    <button (click)="hapus(student._id)" type="button" class="btn btn-danger btn-sm"><i
                            class="bi bi-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
    
</div>