<div class="table-wrapper">
    <div class="table-title d-flex justify-content-between mb-3">
        <h5><th>Detail Employee</th></h5>
    </div>
    <div>
    <table class="table table-bordered table-responsive">
        <tr>
            <td>First Name</td>
            <td>{{student?.first}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{student?.last}}</td></tr>
        <tr>
            <td>Email</td>
            <td>{{student?.email}}</td></tr>
        <tr>
            <td>Address</td>
            <td>{{student?.address}}</td></tr>
        <tr>   
            <td>phone</td>
            <td>{{student?.phone}}</td>
        
        </tr>
         
    </table>
    </div>
</div>