<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
    <button type="button" class="btn-close" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()" id="form">
        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="first">First Name</label>
            </div>
            <div class="col-9">
                <input id="first" [class.is-invalid]="form.controls['first'].invalid" placeholder="John doe"
                formControlName="first" type="text" class="form-control" required>
                <div *ngIf="form.controls['first'].touched && form.controls['first'].invalid"
                     class="text-danger text-sm-start">
                     <small *ngIf="form.controls['first'].errors && form.controls['first'].errors['required']">First is
                      required.</small>
                </div>
            </div>
            
        </div>
        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="first">Last Name</label>
            </div>
            <div class="col-9">
                <input id="last" [class.is-invalid]="form.controls['last'].invalid" placeholder="John doe"
                formControlName="last" type="text" class="form-control" required>
            
            <div *ngIf="form.controls['last'].touched && form.controls['last'].invalid"
                class="text-danger text-sm-start">
                <small *ngIf="form.controls['last'].errors && form.controls['last'].errors['required']">Last is
                    required.</small>
            </div>
            </div>
            
        </div>
        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="email">Email</label>
            </div>
            <div class="col-9">
                <input id="email" [class.is-invalid]="form.controls['email'].invalid" placeholder="John doe"
                formControlName="email" type="text" class="form-control" required>
            
            <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid"
                class="text-danger text-sm-start">
                <small *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">Email is
                    required.</small>
            </div>
            </div>
            
        </div>

        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="address">Address</label>
            </div>
            <div class="col-9">
                <input id="address" [class.is-invalid]="f['address'].touched && f['address'].invalid" formControlName="address" type="text" 
                class="form-control" required>
                <div *ngIf="f['address'].touched && f['address'].invalid"
                class="text-danger text-sm-start">
                    <small *ngIf="f['address'].errors && f['address'].errors['required']">Address is required.</small>
                </div>
            </div>
        </div>

        <div class="row form-floating mb-3">
            <div class="col-3">
                <label for="name">Phone</label>
            </div>
            <div class="col-9">
                <input id="phone" [class.is-invalid]="phone.touched && phone.invalid" formControlName="phone" type="string"
                class="form-control" required>
                <div *ngIf="phone.touched && phone.invalid" class="text-danger text-sm-start">
                    <small *ngIf="phone.errors && phone.errors['required']">Phone is required.</small>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" form="form" class="btn btn-primary">Save Changes</button>
</div>